/* Colores */
/* Fin Variables */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, right top, left top, from(darkseagreen), to(white));
  background-image: linear-gradient(to left, darkseagreen, white);
  /* Aqui esta la gradiente */
}

.header__Titulo-Principal {
  background-image: url("../Imagenes/Inicio/selva_urbana.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__Titulo-Principal h1 {
  color: floralwhite;
  text-align: center;
  -webkit-text-decoration: underline floralwhite;
          text-decoration: underline floralwhite;
  padding-top: 10vh;
  font-size: 120px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
}

.header__Titulo-Principal h2 {
  color: floralwhite;
  text-align: center;
  -webkit-text-decoration: underline floralwhite;
          text-decoration: underline floralwhite;
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
}

/* Bienvenida de inicio */
#slider {
  width: 45%;
  padding: 2rem;
}

/* Galeria de imagenes */
h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 5rem;
  padding: 1rem;
}

#galeria {
  padding: 2rem;
}

#card {
  padding: 1rem;
}

#card__efecto {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

#card__efecto:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background-image: url("../Imagenes/Inicio/selva_urbana.jpg");
  height: auto;
}

.footer__botonera {
  margin: 35px;
  display: inline-block;
  padding-left: 25px;
}

.footer__botonera ul {
  list-style: none;
}

.footer__botonera ul li {
  padding: 5px 5px 5px 5px;
  display: inline;
}

.footer__botonera ul li a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  color: white;
}

/* Contacto */
.seccion__contacto {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Blog PETUNIAS y demas */
.Titulo--inicial {
  font-family: 'Playfair Display', serif;
  color: #3c5e3c;
  font-size: 3rem;
  font-style: italic;
}

.Blog {
  border: 2px;
  border-style: dashed;
  border-radius: 2px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Blog__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
}

/* Aqui comienzan los desafios SASS y SASS II ------------------------------------------------------------ */
/* Seccion Mercado */
.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.market .productos {
  text-align: center;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #18271b;
  height: 280px;
  width: 280px;
  color: floralwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.market .productos a {
  color: white;
  background-color: rgba(219, 17, 17, 0.2);
  text-decoration: none;
  padding: 5px;
}

.market .productos h4 {
  text-decoration: underline;
  font-style: italic;
}

.market .productos p {
  margin: 20px;
}

.market .productos--out {
  background-color: gray;
}

.market .productos--novedad {
  background-color: #e26969;
}

.market .productos--novedad span {
  font-size: 25px;
}

.market .productos--oferta {
  background-color: #0fe71a;
}

.market .productos--oferta span {
  font-size: 30px;
}

.market .productos:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=estilos.css.map */